body {
    margin: 0;
    font-family: Arial, "Open Sans", sans-serif;
}

.header {
    background-image: url(/img/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 55px;
}

.header-line {
    margin: 0 0 190px;
    display: flex;
    align-items: flex-start;
}

.header-logo {
    margin: 0 0 0 250px;
}

.nav {
    list-style: none;
    margin: 20px 0 0 180px;
}

.nav-li {
    float: left;
}

.nav-item {
    margin-right: 25px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    /* на сайте отображается размер шрифта 17 */
    font-size: 14px;
    color: #ffffff;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #ff0000;
}

.cart-img {
    display: inline;
    margin: 20px 0 0 35px;

}

.line {
    height: 51px;
    margin: 0 0 0 20px;
    border-left: 1px solid #ffffff;
}

.phone {
    margin: 0 0 0 30px;

}

.phone-number {
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.phone-text {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
}

.button {
    width: 157px;
    height: 47px;
    margin: 0 165px 0 45px;
    border: none;
    font-weight: bold;
    /* на сайте отображается размер шрифта 17 */
    font-size: 14px;
    color: #ffffff;
    background-color: #FF7400;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #df3400;
}

.welcome {
    margin: 0 0 0 175px;
    width: 556px;
    display: flex;
    flex-direction: column;
}

.header-title {
    margin: 0;
    font-family: "Tinos", serif;
    font-weight: normal;
    text-align: center;
    font-size: 50px;
    color: #D67E35;
}

.header-subtitle {
    text-align: center;
    font-size: 80px;
}

.suptitle-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-left {
    margin: 0;
    width: 61px;
    border-top: 1px solid #ffffff;
}

.suptitle {
    margin: 20px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

.line-right {
    margin: 0;
    width: 61px;
    border-top: 1px solid #ffffff;
}

.button-view {
    width: 157px;
    height: 47px;
    margin: 5px auto;
    border: none;
    font-weight: bold;
    /* на сайте отображается размер шрифта 17 */
    font-size: 14px;
    color: #ffffff;
    background-color: #FF7400;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.button-view:hover {
    background-color: #df3400;
}

.cards-inline {
    padding: 0 0 150px;
}

.cards-list {
    margin: -160px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.card {
    /* решить проблему с отступами */
    margin: 0 15px;
    width: 350px;
    height: 330px;
    background-color: #fff;
    box-shadow: 10px 10px 40px 20px #0000001A;
}

.card-img {
    margin: 40px auto 10px auto;
    display: flex;
    justify-content: center;
}

.card-title {
    margin: 0 0 20px;
    font-family: "Tinos", serif;
    font-weight: normal;
    text-align: center;
    font-size: 26px;
    color: #2C2C2C;
}

.card-title span {
    color: #BC9060;
}

.card-desc {
    margin: 0 0 20px;
    font-family: "Tinos", serif;
    font-weight: normal;
    text-align: center;
    font-size: 26px;
    color: #656363;
}

.history {
 padding: 150px;
 display: flex;
 justify-content: center;
}

.history-info {
    width: 460px;
}

.history-title {
    margin: 0 0 20px;
    font-family: "Tinos", serif;
    font-weight: normal;
    text-align: center;
    font-size: 54px;
    color: #000000;
}

.history-title span{
    color: #D67E34;
}

.history-desc {
    margin: 0 0 40px;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    color: #656363;
}

.history-number {
    display: flex;
    justify-content: center;
}

.history-list {
    list-style: none;
}

.number-item {
    margin: 0 0 2px;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
}

.num-item {
    margin: 0;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.history-images {

}

.history-img1 {

}

.black-block {
    background-image: url(/img/blackbg.jpg);
    margin: 0 0 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* разобраться с отступами */
.black-block-left {
    margin: 80px 0 100px 165px;
}

.black-block-title {
    margin: 0 0 40px;
    font-family: "Tinos", serif;
    font-weight: normal;
    text-align: center;
    font-size: 52px;
    color: #D67E34;
}

.black-block-text {
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}

.dishes {

}

.dishes-title {
    margin: 0 0 150px;
    font-family: "Tinos", serif;
    font-weight: normal;
    text-align: center;
    font-size: 54px;
    color: #000000;
}

.dishes-title span{
    color: #D67E34;
}

.burgers {
    display: flex;
    justify-content: center;
}

/* при флексе картинка искажается исправить */
.img-pizza {
    margin: 0 30px 0 0;

}

.burgers-list {
    list-style: none;
}

.burger-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* добавить псевдокласс */
.img-burger {
    margin: 0 30px 30px 0;
}

.burger-text {
    margin: 0;
    font-family: "Tinos", serif;
    font-weight: normal;
    text-align: center;
    font-size: 26px;
    color: #000000;
}

.menu {
    margin: 150px 0 0 0;
    background-image: url(/img/menu_bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-title {
    padding: 105px 0 150px 0;
    font-family: "Tinos", serif;
    font-weight: normal;
    text-align: center;
    font-size: 54px;
    color: #ffffff;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.25)
}

.menu-list {
    width: 350px;
    height: 510px;
    background-color: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
}

.price-container {

}

.menu-img {
    margin: 80px 0 0 0;
    position: relative;
    z-index: 1;
}

.price-bg {
    margin: 0;
    width: 85px;
    height: 85px;
    top: -80px;
    left: 135px;
    background-color: #D67E34;
    border-radius: 50%;
    outline: #ffffff solid 7px;
    position: relative;
    z-index: 2;
}

.price {
    margin: 0;
    top: -80px;
    left: 135px;
    font-family: "Cookie", serif;
    font-weight: normal;
    max-width: auto;
    text-align: center;
    font-size: 30px;
    color: #000000;
    position: relative;
    z-index: 3;
}

.menu-text {
    margin: 0;
    font-family: "Tinos", serif;
    font-weight: normal;
    text-align: center;
    font-size: 26px;
    color: #000000;
}

.menu-subtext {
    margin: 0;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

.button-order {
    width: 157px;
    height: 47px;
    margin: 0 165px 0 45px;
    border: none;
    font-weight: bold;
    /* на сайте отображается размер шрифта 17 */
    font-size: 16px;
    color: #ffffff;
    background-color: #D67E34;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.button-order:hover {
    background-color: #df3400;
}

.comment {
    padding: 105px 0 0 0;
    background-color: #E5E5E5;
}

.comment-text {
    margin: 0 0 25px 0;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.comment-img-container {
    margin: 0;
    display: flex;
    justify-content: center;
}

.comment-img {
    margin: 0 0 25px 0;
}

.comment-type {
    margin: 0 0 20px 0;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.comment-name {
    margin: 0;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    color: #000000;
}


/* 
.container {
    margin: 0px 166px;
}


.comment {
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
}

.comment-text {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.comment-image {
    text-align: center;
    margin-bottom: 20px;
}

.comment-type {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.comment-name {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.galery {

}

.galery-title {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 100px;
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
}

.galery-title span {
    color: #D67E34;
}

.galery-content {
    display: flex;
    justify-content: center;
}

.galery-left {
    margin-right: 30px;
}

.galery-up {

}

.galery-down, 
.galery-up {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.cook {
    padding-bottom: 100px;
}

.cook-title {
    margin: 0;
    margin-bottom: 100px;
    padding-top: 100px;
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
}

.cook-title span {
    color: #D67E34;
}

.cook-content {
    display: flex;
    justify-content: space-around;
}

.footer {
    background-image: url(/img/footer.jpg);
    padding: 50px 0;
}

.footer-text {
    color: #fff;
    text-align: center;
}


@media (max-width: 1500px) {
    .galery-content {
        display: block;
    }

    .img-gal,
    .galery-up,
    .galery-down {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img-gal {
        margin-bottom: 20px;
    }

    .galery-left {
        margin-right: 0;
    }
} */