body {
    margin: 0;
    font-family: Arial, "Open Sans", sans-serif;
}

.header {
    background-image: url(/img/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 55px;
}

.header-line {
    margin: 0 0 190px;
    display: flex;
    align-items: flex-start;
}

.header-logo {
    margin: 0 0 0 250px;
}

.nav {
    list-style: none;
    margin: 20px 0 0 180px;
}

.nav-li {
    float: left;
}

.nav-item {
    margin-right: 25px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    /* на сайте отображается размер шрифта 17 */
    font-size: 14px;
    color: #ffffff;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #ff0000;
}

.cart-img {
    display: inline;
    margin: 20px 0 0 35px;

}

.line {
    height: 51px;
    margin: 0 0 0 20px;
    border-left: 1px solid #ffffff;
}

.phone {
    margin: 0 0 0 30px;

}

.phone-number {
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.phone-text {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
}

.button {
    width: 157px;
    height: 47px;
    margin: 0 165px 0 45px;
    border: none;
    font-weight: bold;
    /* на сайте отображается размер шрифта 17 */
    font-size: 14px;
    color: #ffffff;
    background-color: #FF7400;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #df3400;
}

.welcome {
    margin: 0 0 0 175px;
    width: 556px;
    display: flex;
    flex-direction: column;
}

.header-title {
    margin: 0;
    font-family: "Tinos", serif;
    font-weight: normal;
    text-align: center;
    font-size: 50px;
    color: #D67E35;
}

.header-subtitle {
    text-align: center;
    font-size: 80px;
}

.suptitle-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-left {
    margin: 0;
    width: 61px;
    border-top: 1px solid #ffffff;
}

.suptitle {
    margin: 20px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

.line-right {
    margin: 0;
    width: 61px;
    border-top: 1px solid #ffffff;
}

.button-view {
    width: 157px;
    height: 47px;
    margin: 5px auto;
    border: none;
    font-weight: bold;
    /* на сайте отображается размер шрифта 17 */
    font-size: 14px;
    color: #ffffff;
    background-color: #FF7400;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.button-view:hover {
    background-color: #df3400;
}


/* 
.container {
    margin: 0px 166px;
}

/* 
.header-down {
    position: relative;
}

.header-title {
    position: absolute;
    left: 0;
    margin-top: 222px;
    margin-bottom: 12px;
}


.header-button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    transition: background-color 0.2s linear;
}

.header-button:hover {
    background-color: #df3400;
}

.cards-holder {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 349px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -137px;
    padding: 10px 10px;
}

.card-image {
  display: flex;
  justify-content: center;
  padding-top: 31px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Tinos", serif;
    font-size: 26px;
    font-weight: 400;
  }

.card-title span{
    color: #BC9060;
}

.card-desc {
    text-align: center;
    font-family: "Tinos", serif;
    font-size: 26px;
    font-weight: 400;
    color: #656363;
}
  
.history {
    margin-top: 166px;
}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.history-title {
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-top: 21px;
}

.history-title span {
    color: #BC9060;
}

.history-desc {
    color: #656363;
    font-size: 16px;
    width: 444px;
    text-align: center;
}

.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}

.number-item {
    margin-right: 60px;
    text-align: center;
    color: #BC9060;
    font-size: 40px;
}

.number-item span {
    display: block;
    color: #000;
    font-size: 20px;
}

.history-images {
    position: relative;
    width: 300px;
    left: -80px;
}

.images-1 {
    position: absolute;
    z-index: 999;
    top: 40px;
    left: -600px;
}

.images-2 {
    position: absolute;
    z-index: 800;
    top: -20px;
    left: -400px;
}

.images-3 {
    position: absolute;
    z-index: 900;
    top: 200px;
    left: -320px;
}

.images-4 {
    position: absolute;
    z-index: 700;
    width: 212px;
    height: 180px;
    color: #FFE8D0;
    top: 25px;
    left: -300px;
}

.black-block {
    margin-top: 200px;
    background-image: url(/img/blackbg.jpg);
    padding: 80px 0;
}

.black-block-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-title {
    font-family: "Tinos", serif;
    font-size: 52px;
    font-weight: 400;
    color: #D67E34;
    margin-bottom: 20px;
}

.left-text {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.dishes-title {
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    margin: 132px 0 139px;
}

.dishes-title span{
color: #D67E34;
}

.burgers {
    display: flex;
    justify-content: center;
}

.burgers-image {
    margin-right: 20px;
}

.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.burger-text {
    font-family: "Tinos", serif;
    font-size: 26px;
    font-weight: 400;
    margin-left: 20px;
}

.menu {
    background-image: url(/img/menu_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.menu-title {
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    padding-top: 98px;
    padding-bottom: 138px;
}

.menu-items {
    display: flex;
    justify-content: center;
}

.menu-item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-right: 20px;
}

.menu-image {
    position: relative;
}

.price-image {
    position: absolute;
    bottom: 0;
    right: 120px;
}

.price420 {
    position: absolute;
    bottom: 0;
    right: 150px;
    color: #fff;
    font-size: 30px;
}

.menu-text {
    font-family: "Tinos", serif;
    font-size: 26px;
    margin: 0;
    padding-top: 16px;
}

.menu-subtext {
    font-size: 17px;
    margin: 0;
    padding-top: 17px;
}

.menu-button {
    margin-top: 20px;
}

.menu-btn {
    background-color: #D67E34;
    color: #fff;
    text-decoration: none;
    padding: 14px 67px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    box-shadow: 5px 5px 10px 0px #00000040;
    transition: background-color 0.2s linear;
}

.menu-btn:hover {
    background-color: #d66234;
}

.comment {
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
}

.comment-text {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.comment-image {
    text-align: center;
    margin-bottom: 20px;
}

.comment-type {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.comment-name {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.galery {

}

.galery-title {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 100px;
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
}

.galery-title span {
    color: #D67E34;
}

.galery-content {
    display: flex;
    justify-content: center;
}

.galery-left {
    margin-right: 30px;
}

.galery-up {

}

.galery-down, 
.galery-up {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.cook {
    padding-bottom: 100px;
}

.cook-title {
    margin: 0;
    margin-bottom: 100px;
    padding-top: 100px;
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
}

.cook-title span {
    color: #D67E34;
}

.cook-content {
    display: flex;
    justify-content: space-around;
}

.footer {
    background-image: url(/img/footer.jpg);
    padding: 50px 0;
}

.footer-text {
    color: #fff;
    text-align: center;
}


@media (max-width: 1500px) {
    .galery-content {
        display: block;
    }

    .img-gal,
    .galery-up,
    .galery-down {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img-gal {
        margin-bottom: 20px;
    }

    .galery-left {
        margin-right: 0;
    }
} */